@using BSOL.Core.Entities
@inject AppUser _appUser
@(Html.Kendo().Window()
.Name("wndItems")
.Title("Items")
.Content(@<text>
  <div id="appItem">
        @(Html.Kendo().Grid<Item>()
                .Name("gridItems")
                .AutoBind(false)
                .Columns(x =>
                {
                    x.Bound(c => c.Id).ClientTemplate("<i class='fa fa-plus' title='Select Item'></i>").HtmlAttributes(new { @class = "pos-qcntrl inc", onclick = "appItem.addItem(this)" }).Width(40).Filterable(false).Sortable(false).ClearTitle();
                    x.Bound(c => c.SKUFormatted).Title("SKU").Width(100);
                    x.Bound(c => c.UPC).Title("UPC").Width(100);
                    x.Bound(c => c.ItemCode).Title("Item Code").Width(100);
                    x.Bound(c => c.Description).Width(370);
                    x.MoneyColumn(c => c.PurchasedRate).Title("Purch Rate").Width(100);
                    x.MoneyColumn(c => c.SellingRate).Title("Rate").Width(100);
                    x.Bound(c => c.Stock).Width(70);
                    x.Bound(c => c.ItemCategory).Title("Category").Width(130);
                    x.Bound(c => c.ItemType).Title("Type").Width(130);
                })
                .Sortable()
                .Scrollable()
                .Pageable(x => x.Refresh(true))
                .Resizable(x => x.Columns(true))
                .EnableFilter()
                .HtmlAttributes(new { @class = "h-grid v-grid" })
                .Events(x => x.DataBound("appItem.gridItemsDataBound"))
                .DataSource(d => d
                .Ajax().ServerOperation(true).PageSize(50)
                .Read(read => read.Action("ReadItems", "Stock").Data("appItem.gridItems_Data"))))
  </div>
</text>)
.Draggable()
.Resizable()
.Visible(false)
.MaxWidth(1000)
)

<script type="text/javascript">
    var appItem = new Vue({
        el: '#appItem',
        data: {
            addItemCallBack: null,
        },
        methods: {
            addItem: function (sender) {
                var item = $('#gridItems').getKendoGrid().dataItem($(sender).parent());
                if (this.addItemCallBack)
                    this.addItemCallBack(item);
            },
            open: function () {
                if (!$('#gridItems').getKendoGrid().dataSource.data().length)
                    $('#gridItems').getKendoGrid().dataSource.read();
                else
                    $('#gridItems').getKendoGrid().refresh();

                $('#wndItems').getKendoWindow().open().center();
            },
            close: function () {
                $('#wndItems').getKendoWindow().close();
            },
            gridItems_Data: function () {
                return {
                    ShopId: app.input.ShopId
                };
            },
            gridItemsDataBound: function () {
                $('#wndItems').getKendoWindow().center();
            },
        }
    });
</script>